.form-control {
  margin: 1rem 0;
}

.form-control label,
.form-control input {
  display: block;
  width: 100%;
}

.form-control input {
  border: 1px solid #1d2dd7;
  font: inherit;
  border-radius: 0.5rem;
}

.form-control input:focus {
    outline-color: #001069;
}
