* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

main {
  padding: 0.5rem 2rem;
  margin: auto;
}
.main-header {
  width: 100%;
  height: max-content;
  background-color: #1d2dd7;
  padding: 0 2rem;
}

.main-header_nav {
  height: 100%;
  display: flex;
  align-items: center;
}
.main-header__item-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.main-header__item {
  margin: 0 1rem;
  padding: 0;
}

.main-header__item a {
  text-decoration: none;
  color: white;
}

.main-header__item a:hover,
.main-header__item a:active,
.main-header__item a.active {
  color: rgb(255, 30, 30);
}

/*
.mobile-nav {
  width: 30rem;
  height: 100vh;
  max-width: 90%;
  position: fixed;
  left: 0;
  top: 0;
  background: white;
  z-index: 10;
  padding: 2rem 1rem 1rem 2rem;
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;
}

.mobile-nav.open {
  transform: translateX(0);
}

.mobile-nav__item-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.mobile-nav__item {
  margin: 1rem;
  padding: 0;
}

.mobile-nav__item a {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  padding: 0.5rem 2rem;
}

.mobile-nav__item a:active,
.mobile-nav__item a:hover,
.mobile-nav__item a.active {
  background: #00695c;
  color: white;
  border-radius: 3px;
}

#side-menu-toggle {
  border: 1px solid white;
  font: inherit;
  padding: 0.5rem;
  display: block;
  background: transparent;
  color: white;
  cursor: pointer;
}

#side-menu-toggle:focus {
  outline: none;
}

#side-menu-toggle:active,
#side-menu-toggle:hover {
  color: #ffeb3b;
  border-color: #ffeb3b;
}
*/
.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
}

.card {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  border-radius: 3rem;
  margin: 2rem auto;
  width: 30vw;
}

.card__header,
.card__content {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card__header h1,
.card__content h1,
.card__content h2,
.card__content p {
  margin: 0;
}

.card__image {
  width: 50%;
  margin: auto;
  padding: auto;
}

.card__image img {
  width: 90%;
}

.card__actions {
  padding: 0.5rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0%;
  /* border: 2px solid rgb(195, 9, 9); */
}

.card__actions button,
.card__actions a {
  text-decoration: none;
  margin: 0 0.25rem;
  margin-bottom: 0rem;
}

.btn {
  font: inherit;
  border: 1px solid #1d39d7;
  color: #1d39d7;
  background-color: white;
  border-radius: 0.9rem;
  cursor: pointer;
  padding: 0.8rem 1rem;
}
.btn:hover,
.btn:active {
  border-radius: 5rem;
  background-color: #1d39d7;
  color: white;
  -webkit-transition: all 0.35s 0s ease-in-out;
  -moz-transition: all 0.35s 0s ease-in-out;
  -o-transition: all 0.35s 0s ease-in-out;
  transition: all 0.35s 0s ease-in-out;
}

.edit {
  font: inherit;
  border: 1px solid #13b8d5;
  color: #13b8d5;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 0.9rem;
  cursor: pointer;
  padding: 0.8rem 1rem;
  width: 5rem;
}
.edit:link {
  text-decoration: none;
}
.edit:hover,
.edit:active {
  border-radius: 5rem;
  background-color: #13b8d5;
  color: white;
  -webkit-transition: all 0.35s 0s ease-in-out;
  -moz-transition: all 0.35s 0s ease-in-out;
  -o-transition: all 0.35s 0s ease-in-out;
  transition: all 0.35s 0s ease-in-out;
}

.delete {
  font: inherit;
  border: 1px solid #d7291d;
  color: #d7291d;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 0.9rem;
  cursor: pointer;
  padding: 0.8rem 1rem;
  width: 5rem;
}
.delete:link {
  text-decoration: none;
}
.delete:hover,
.delete:active {
  border-radius: 5rem;
  background-color: #d7291d;
  color: white;
  -webkit-transition: all 0.35s 0s ease-in-out;
  -moz-transition: all 0.35s 0s ease-in-out;
  -o-transition: all 0.35s 0s ease-in-out;
  transition: all 0.35s 0s ease-in-out;
}

@media (min-width: 768px) {
  .main-header__nav {
    display: flex;
  }

  #side-menu-toggle {
    display: none;
  }
}